* {
    background-color: #000000;
    font-family: Gensans-serif, sans-serif;
}


#top-bar {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
	color: white;
	position:center;
}

#top-bar > img {
    margin-top: 50px;
    margin-right: 15px;
    float: center;
    display: block;
    width: 100%;
    height: 100%;
}


h1 {
    color: lightblue;
    text-align: center;
	font-size: 60px;
	font-family: Comic Sans MS;
}

li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 20px;
	color: white;
}

p {
	color: white;
	font-family: Gensans-serif;
	font-size: 18px;
	font-weight: 20px;
	
}

button {
	
	color: white;
	height: 150px;
	width: 400px;
}

form {
	color:white;
	font-size: 20px;
	
}

footer {
	
	color: white:
}